<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="form-group">
            <label class="form-control-label">Author</label>
            <input type="text" class="form-control" required [(ngModel)]="record.author" placeholder="Name the author" name="author">
        </div>
        <div class="form-group">
            <label class="form-control-label">Description</label>
            <input type="text" class="form-control" required [(ngModel)]="record.description" placeholder="Describe the record" name="description">
        </div>
        <div>
            <button (click)="newRecord()" type="submit" class="btn btn-primary">Add record</button>
        </div>
    </div>
</div>
