<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="form-group">
            <label class="form-control-label">Record name</label>
            <input type="text" class="form-control" required [ngModel]="record?.recordName" (ngModelChange)="record.recordName = $event" placeholder="Name the record" name="recordName">
        </div>
        <div class="form-group">
            <label class="form-control-label">Author</label>
            <input type="text" class="form-control" required [ngModel]="record?.user" (ngModelChange)="record.user = $event" placeholder="Name the author" name="user">
        </div>
        <div class="form-group">
            <label class="form-control-label">Description</label>
            <input type="text" class="form-control" required [ngModel]="record?.description" (ngModelChange)="record.description = $event" placeholder="Describe the record" name="description">
        </div>
        <div class="form-group">
            <label class="form-control-label">Files</label>
            <input type="file" class="form-control" multiple (change)="fileChange($event, showFileNames)" placeholder="File to upload" name="file"/>
            <input #showFileNames />
        </div>
        <div>
            <button (click)="newRecord()" type="submit" class="btn btn-primary">Add record</button>
        </div>
        <div>
            <select [ngModel]="citationType" *ngIf="isAddingFile" (ngModelChange)="$event.target.value">
                <option [value]="addFileWithTag(CitationType.CreativeWork)">Creative work</option>
                <option [value]="addFileWithTag(CitationType.Article)">Article</option>
                <option [value]="addFileWithTag(CitationType.Book)">Book</option>
                <option [value]="addFileWithTag(CitationType.AudioObject)">Audio Object</option>
                <option [value]="addFileWithTag(CitationType.ImageObject)">Image Object</option>
                <option [value]="addFileWithTag(CitationType.MusicRecording)">Music Recording</option>
                <option [value]="addFileWithTag(CitationType.SoftwareSourceCode)">Software Source Code</option>
                <option [value]="addFileWithTag(CitationType.VideoObject)">Video Object</option>
            </select>
        </div>
    </div>
</div>
